.applicantpagemain{
    background:url("../images/zobsbackground.jpg");
    /* background-image: url('https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg?w=1060&t=st=1708774036~exp=1708774636~hmac=11f79a34ee7f59628697764c61de075e2d2399d2f22a3a2e1775f75a533fb93d'); */
    background-size: cover; 
    background-position: center; 
    height: 710px; 
    width: 100%;
    overflow-y: auto;

}

.mainc{
    margin-top: 50px;
    /* border: 2px red solid; */
    border-radius: 52px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter:blur(10px) ;
    width: 70%;
    margin-left: 200px;
    padding: 20px 20px;


}
.maintop{
    /* border: 2px blue solid; */


}
.mainbottom{
    border: 2px  rgba( 255, 255, 255, 0.25 ) solid;
    margin-bottom: 10px ;


}
.resumebutton{
    border: none;
    border-radius: 52px;
background: rgba( 255, 255, 255, 0.25 );
backdrop-filter:blur(10px) ;
height: 50px;
width: 100px;
cursor: pointer;
color:#3575E2;
font-size: 15px;
}