.banner{



    border-radius: 52px;

background: rgba( 255, 255, 255, 0.25 );
backdrop-filter:blur(10px) ;
padding-top: 11px;
padding-left: 50px;
padding-right: 50px;
width: 45%;
height: 300px;
margin-top: 150px;
margin-left: 50px;


}
.BannerAbout{
    
    /* border: 2px red solid; */
}

.BannerAbout .Find-your-job{
    font-size: 40px;
    margin-top: 50px;
   font-weight: 500;
}
.BannerAbout .Banner-Tag-line{
    font-size: 20px;
    font-weight: 400;
} 
.inputFeild{
    display: flex;
    margin-top: 50px;
    border-radius: 52px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter:blur(10px) ;
    position: absolute;
    top: 320px;
    left: 58%;
    /* border: 3px red solid; */
} 
.inputFeild input{
    height: 50px;
    border: 1px grey solid; 
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter:blur(10px) ;
    
    /* border: 3px red solid; */


}
.firstInputField input{
    width: 500px;
    border-top-left-radius: 52px;
    border-end-start-radius: 52px;
    padding-left: 40px;
    font-size: 20px;
    border: none;
    
    /* border: 3px red solid; */
    /* border: 3px red solid; */

}
.SecoundInputField input{
    /* width: 320px; */
    
    

}

.searchInBanner button{
    width:80px;
    height: 50px;
    border: 1px grey solid; 
    border-top-right-radius:52px ;
    border-bottom-right-radius: 52px;
    background-color:#3575E2;
    color: aliceblue;
    font-size:16px;
    cursor: pointer;
}
.icons{
   position: absolute;
   font-size: 30px;
   margin-left: 9px;
   margin-top: 8px;
}



@media(max-width:768px){
    .banner{
        /* border: 2px  blue solid; */
        /* max-width: 700px; */
        margin-left: 35px;
        margin-right: 35px;
        min-height: 200px;
        width: auto;
        height: auto;
        /* margin-bottom: 50px; */
        


    }
    .BannerAbout{
        /* border: 2px red solid; */
        margin-bottom: 50px;
        margin-right: 50px;
        /* margin-bottom: 50px; */
        
    }
    
    .inputFeild{
        display: flex;
        margin-top: 50px;
        border-radius: 52px;
        background: rgba( 255, 255, 255, 0.25 );
        backdrop-filter:blur(10px) ;
        position: absolute;
        top: 250px;
        left: 24%;
        /* border: 3px red solid; */
        /* min-width:400px; */
        width: auto;
    } 
    .inputFeild input{
        height: 50px;
        border: 1px grey solid; 
        background: rgba( 255, 255, 255, 0.25 );
        backdrop-filter:blur(10px) ;
        
        /* border: 3px red solid; */
    
    
    }
    .inputFeild .icons{
        /* border: 2px blue solid; */
        /* margin-top: -1px; */
    }
    .firstInputField input{
        /* border: 2px green solid; */

        width: 250px;
        /* border-top-left-radius: 5px; */
        padding-left: 45px;
        font-size: 17px;
        border-top-left-radius: 52px;
        border-bottom-left-radius: 52px;

    }
    /* .SecoundInputField input{
        border: 2px yellow solid;

        width: 250px;

        padding-left: 30px;
        font-size: 13px;
        border-radius: 5px;
    }
     */
    .searchInBanner button{
        width:80px;
        height: 50px;
        /* border: 1px grey solid;  */
        /* border-radius: 5px; */
        background-color:#3575E2;
        color: aliceblue;
        font-size: 15px;
        cursor: pointer;
        

    }

}

@media(max-width:492px){ 
    .inputFeild{
        /* border: 3px red solid; */
        margin-top: 100px;
        left: 5%;
 
     } 

 }

@media(max-width:420px){      
        
    .inputFeild{
       /* border: 3px red solid; */
       margin-top: 150px;
       left: 5%;

    }   

}