.Signuppage{
    background:url("../images/zobsbackground.jpg");

    /* background-image: url('https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg?w=1060&t=st=1708774036~exp=1708774636~hmac=11f79a34ee7f59628697764c61de075e2d2399d2f22a3a2e1775f75a533fb93d'); Set the background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; 
    height: 710px; 
    width: 100%;
    overflow-y: auto;

}
.loginpage{
    background:url("../images/zobsbackground.jpg");

    /* background-image: url('https://images.unsplash.com/photo-1497366811353-6870744d04b2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');  */
    /* background-image: url('https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg?w=1060&t=st=1708774036~exp=1708774636~hmac=11f79a34ee7f59628697764c61de075e2d2399d2f22a3a2e1775f75a533fb93d');  */


    background-size: cover; /* Cover the entire background */
    background-position: center; 
    height: 710px; 
    width: 100%;
    overflow-y: auto;
}
.upperFormContainer{
    margin-top: 50px;
    /* background-color: rgb(247, 246, 246); */
    padding: 25px 0px;
    /* height:600px; */
    /* border: 2px red solid; */
    display: flex;
    

}
.leftSide{
    
    /* border: 2px red solid; */
    width:50%;
    max-width: 500px;
    margin-left: 100px;
    
    border-radius: 52px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter:blur(10px) ;

}
.leftSide .leftsideIcon{
    /* border: 2px red solid; */
    height: 250px;
    font-size: 200px;
    padding-left: 32%;
    margin-top: 100px;
}
.leftSide .leftSideLogo{
    /* border: 2px red solid; */
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    position: relative;
    top: -60px;
    left:0px; 
}
.leftSide .leftsideTag{
    /* border: 2px red solid; */
    text-align: center;
    font-size: 30px;
}
.rightside{
    /* border: 2px red solid; */
    width:50%;
}

.FormMainContainer{
    width: 300px;
    height: 300px;
    position: relative;
    left: 20%;
    top: 100px;
    padding: 20px 20px;
    border: 1px solid;
    border-radius:10px;
    /* background-color: white; */
    border-radius: 52px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter:blur(10px) ;
    /* border: 2px red solid; */

    
}

.FormMainContainer  h2 {
    text-align: center;
}
.FormMainContainer input{
    padding: 5px 10px;
    width: 85%;
    margin: 10px 0px;
    /* margin-left: 40px; */
    position: relative;
    top: -28px;
    left: 35px;
    border: none;
    background: rgba( 255, 255, 255, 0.4 );
    backdrop-filter:blur(10px) ;

   /* border: 2px red solid; */

}

.FormMainContainer .asdf{
    /* border: 2px red solid; */
    /* width: ; */
    height: 50px;

}
.FormMainContainer .formIcon{
   /* border: 2px red solid; */
   position: relative;
   top: 12px;
   left: 0px;
   height: 28px;
   width: 30px;  
}
.FormMainContainer .FormButton{
    margin-left: 90px;
}
.FormMainContainer button{
    padding: 9px 10px;
    border-radius: 5px;
    width: 50%;
    margin: 15px 0px;
    text-align: center;
    background-color: #3575E2;
    color: white;
    border: none;
}

@media(max-width:950px){
    .upperFormContainer{
        height:600px;
        /* border: 2px red solid; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px;
        
        
    
    }
    .leftSide{
        height: 260px;
        margin-left: 0px;
    }
    .leftSide .leftsideIcon{
        /* border: 2px red solid; */
        height: 50px;
        font-size: 100px;
        padding-left: 32%;
        margin-top: 0px;
    }
    .leftSide .leftSideLogo{
        /* border: 2px red solid; */
        text-align: center;
        font-size: 40px;
        font-weight: 1000;
        position: relative;
        top:20px;
        left:0px; 
    }
    .leftSide .leftsideTag{
        /* border: 2px red solid; */
        text-align: center;
        font-size: 30px;
        margin-top: -25px;
    }
    
.rightside{
    /* border: 2px red solid; */
    width:50%;
}

.FormMainContainer{
    margin-left: -50px;
    z-index: 200;
    width: 300px;
    height: 270px;
    position: relative;
    left: 20%;
    top: 10px;
    padding: 20px 20px;
    border: 1px solid;
    border-radius:10px;
    /* background-color: white; */
    border-radius: 52px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter:blur(10px) ;
    /* border: 2px red solid; */

    
}
.mobileSignUpLeftSide{
    display: none;
}
}

@media(max-width:450px){
    .FormMainContainer{
        margin-left: -90px;
    }
    .leftSide{
        height: 260px;
        margin: 0px 10px;
        width: auto;
    }
}