.myCreatedJobMain{
    /* border: 2px red solid; */
    background:url("../images/zobsbackground.jpg");

    /* background-image: url('https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg?w=1060&t=st=1708774036~exp=1708774636~hmac=11f79a34ee7f59628697764c61de075e2d2399d2f22a3a2e1775f75a533fb93d');  */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    height: 710px; /* Set height to fill the viewport */
    width: 100%;
    overflow-y: auto;
}
.beforesinglecreditedjon{


}
.SingleCreatedJob{
    max-width: 700px;
    margin-top: 100px;
    margin-left: 270px;
}

.Updatebutton  button{
    border: none;
    border-radius: 52px;
background: rgba( 255, 255, 255, 0.25 );
backdrop-filter:blur(10px) ;
height: 50px;
width: 100px;
position: relative;
top: 0px;
left: 80%;
margin-top:20px ;
cursor: pointer;
}

@media(max-width:1045px){
    .SingleCreatedJob{
        margin-left: 200px;
    }

}
@media(max-width:900px){
    .SingleCreatedJob{
        margin-left: 100px;
    }
    .singlecreditjobcard{
        /* max-width:350px; */
        /* width: auto; */
    }

}
@media(max-width:810px){
    .SingleCreatedJob{
        margin-left: 50px;
    }
    .singlecreditjobcard{
        /* width: auto; */
    }
    

}

@media(max-width:768px){
    .SingleCreatedJob{
        margin-left: 100px;
    }
    .singlecreditjobcard{
        max-width:350px;

        /* width: auto; */
    }
    .Updatebutton  button{
        /* position: relative;
        top: 0px; */
        left:30%;
       
        }

}

@media(max-width:566px){
    .SingleCreatedJob{
        margin-left: 50px;
    }
  
}
@media(max-width:468px){
    .SingleCreatedJob{
       

        margin-left: 20px;
    }
  
}

