.myCreatedJobMain{
    /* border: 2px red solid; */
    background-image: url('https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg?w=1060&t=st=1708774036~exp=1708774636~hmac=11f79a34ee7f59628697764c61de075e2d2399d2f22a3a2e1775f75a533fb93d'); /* Set the background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    height: 710px; /* Set height to fill the viewport */
    width: 100%;
    overflow-y: auto;
}
.SingleCreatedJob{
    /* border: 2px red solid; */
    width: 700px;
    margin-top: 100px;
    margin-left: 270px;
}
.Updatebutton  button{
    border: none;
    border-radius: 52px;
background: rgba( 255, 255, 255, 0.25 );
backdrop-filter:blur(10px) ;
height: 50px;
width: 100px;
float: right;
margin-top:20px ;
cursor: pointer;



}

.DataLoading{
    height: 200px;
border: none;
border-radius: 52px;
background: rgba( 255, 255, 255, 0.25 );
backdrop-filter:blur(10px) ;
margin-top: 50px;
}

.DataLoading h2{
    position: relative;
    top: 20px;
    left: 470px;
    

}
.loader {
    position: relative;
    top: 20px;
    left: 520px;

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid  black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }